html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #202020;
}
.app {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: black;
  display: flex;
  color: white;
  height: 75px;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  padding: 10px;
  list-style-type: none;
}
.navbar-search {
  padding-top: 20px;
  display: flex;
}
.navbar-search input{
  height: 25px;
  width: 300px;
  margin-right: 25px;
  background: transparent;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
}
button{
  height: 32px;
  width: 65px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
}
button :hover{
  background: white;
  color: black;
}
.login-card {
  width: 100px;
  padding-left: 550px;
  padding-top: 230px;
}
.row {
  width: 100%;
  height: 100%;
}
.container-flex {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.anime-card {
  margin: 10px;
  width: 300px;
  height: 500px;
  /* border: 2px solid red; */
  text-align: center;
  border-radius: 25px;
  background-color: #303030;
  color: white;
}
.anime-card img {
  margin-top: 6px;
}
.genres span {
  margin: 5px;
  border-radius: 20px;
  padding: 5px;
  background-color: brown;
  color: white;
}

.anime-card img {
  width: 80%;
  height: 50%;
}
.genres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.anime-card h4 {
  margin-top: -5px;
}
.anime-card-synopsis {
  margin-top: -15px;
}
.anime-card button{
  width: 100px;
}
button:hover{
  background: white;
  color: black;
}
.animePage-data{
  color: white;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-content{
  display: flex;
}

.animePage-none{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
